* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(44, 44, 52); */
    background-color: green;
    margin: 20px 20px;
    /* height: 900px; */
    color: white;
    display: flex;
    }

    .sidebar{
        background-color: pink;
        text-align: justify;
        width: 20%;
        margin: 20px 10px;
    }

.recipespage {
    background-color: aqua;
    margin: 20px 10px 20px 10px;
    outline: 10px transparent;
    box-shadow: inset;
    opacity: 0.8;
}

.tophead {
    height: 20vh;
    border: solid;
    align-items: center;
    background-color: blue;
    padding: 22px;
}

.top_headers {
    text-align: center;
    font-size: 1.7em;
    background-color: black; 
    /* align-items: center; */
    justify-content: center;
    border: solid #262626;
    /* margin: 15px 20px; */
    
}
 .top_headers h2{
    font-size: 12pt;
 }

.recipe_body {
    background-color: #fab802;
    display: flex;
    height: auto;
}

.left_recipe_body {
    width: 30%;
    margin: 20px 10px;
    border: solid green;
    /* background-color: purple; */
    align-content: center;
    /* padding: 25px 25px; */
}

.right_recipe_body{
    border: solid ;
    width: 60%;
    margin: 20px 10px;
}

.image{
    height: 80%;
    
}

 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-color: yellowgreen; */
} 

.read_more_button {
    background-color: #262626;
    height: 20%;
    /* width: 100%;
    height: 20%;
  text-align: center;
  margin: 0 auto;
  display: block; */
  position: relative;
  border: 3px solid green; 
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.button {
    /* margin: 10px 10px; */
    /* position: relative; */
    display: block;
     width: 180px;
     height: 40px;
     border-radius: 18px;
     background-color: #fab802;
     border: solid 2px transparent; 
     /* you can add a third attribute on the border like 'transparent to make it' */
     color: white;
     font-size: 15px;
     font-weight: 300;
     cursor: pointer;
     transition: all .1s ease-in-out;
}
button:hover{
    background-color: transparent;
    border-color: red;
    transition: all 2s ease-in-out;

}

.right_recipe_body {
    width: 70%;
    /* background-color: red; */
    text-align: left;
    padding: 25px 25px;
}

.right_headers h1 {
    text-align: left;
    font-weight: bolder;
    font-size: 30pt;
    padding-left: 25px;
}

.right_headers h2 {
    font-size: 20pt;
    color: rgb(255, 202, 78);
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

.recipe {
    font-size: 17pt;
    font-family: 'Roboto Mono', monospace;
    padding: 20px 40px;
}